In [1]:
import pandas as pd

In [2]:
greenhouse_data = pd.read_csv('UNdata_Greenhouse_Gas.csv')

In [3]:
greenhouse_data.head()

  Country or Area  Year          Value
0       Australia  2017  554126.561371
1       Australia  2016  546771.759767
2       Australia  2015  535173.674335
3       Australia  2014  524957.101167
4       Australia  2013  530433.518839

In [4]:
greenhouse_data.tail()

               Country or Area  Year         Value
1199  United States of America  1994  6.624836e+06
1200  United States of America  1993  6.532070e+06
1201  United States of America  1992  6.424934e+06
1202  United States of America  1991  6.315615e+06
1203  United States of America  1990  6.371001e+06

In [5]:
greenhouse_data.isnull().values.any()

False

In [6]:
greenhouse_data.to_csv('file2.csv')